
.post-scroll-viewport {
    height: 100%;
    width: 100%;
  }
  /*
  .post-item {
    height: 150px;
    display: flex;
    outline: inset;
    justify-content: space-between;
    flex-direction: column;
  }
*/

  .col-8 {
    height: 40px;
      font-size: 16pt;
      background-color: rgb(164, 181, 230);
      text-align: right;
    }
    .col-2 {
      height: 40px;
        font-size: 10pt;
        background-color: rgb(164, 181, 230);
        text-align: right;
      }
      .col-1 {
        height: 40px;
          font-size: 10pt;
          background-color: rgb(164, 181, 230);
          text-align: right;
        }
      

    .col-12 {
      height: 150px;
      font-size: 6pt;
      background-color: rgb(255, 255, 255);
    }
  
    .post-title {
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 24pt;
      background-color: #40a3ff;
    }
    .post-authorLastName {
      height: 100%;
      align-items: right;
      font-size: 12pt;
      background-color: aqua;
    }
    .post-authorFirstName {
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 12pt;
      background-color: blueviolet;
    }
    .post-likes {
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 12pt;
      background-color: burlywood;
    }
    .container {
      margin-bottom: 80px;
    }
  
  cdk-virtual-scroll-viewport {
    /*border: 1px solid #40a3ff;
    border-radius: 5px; */
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  ::-webkit-scrollbar { 
    display: none;    
 }

 li {
  list-style-type: none;
  height: 100%;
}
